// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dt, dd {
  margin-bottom: 1em;
}

th, td {
  padding: 0.25em 0.5em;
}

.total {
  font-weight: bold;
  text-align: right;
}

.price, .quantity {
  text-align: right;
}
